/* ALL PAGES */

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    background-color: var(--content-color);
    max-height: 100%;
}

:root {
    --navbar-color: #260093;
    --hover-color: #3200bb;
    --content-color: #130047;
    --yellow-color: #FFE002;
}

.banner{
    margin-bottom: -4px;
}

.banner img {
    max-width: 100%;
    filter: blur(0.4px);
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--navbar-color);
}

.navbar a {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.navbar a:hover {
    background-color: var(--hover-color);
    filter: none;
}

.current {
    color: var(--yellow-color) !important;
    font-weight: 600;
    filter: drop-shadow(0px 0px 5px rgb(20, 20, 20));
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    background-color: var(--navbar-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 20px;
    padding: 5px 20px;
}

.footer-tutorials {
    margin-top: 100px;
}

/* ALL PAGES END */

/* ABOUT PAGE */

.title {
    padding: 3% 11% 1% 11%;
    color: white;
    font-size: 3rem;
}

.container-fr {
    display: flex;
    height: 100%;
    padding: 0 11% 0 11%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container-sr {
    padding: 0 11% 1% 11%;
}

.container-sr p {
    color: white;
    padding-top: 10px;
    font-size: 1.3rem;
}

.container-tr {
    margin: 50px 0;
    display: flex;
    gap: 60px;
    color: white;
    padding: 0 11% 0 11%;
}

.about-extra {
    flex-basis: 50%;
    text-align: center;
}

.about-extra p {
    font-size: 1.2rem;
}

.container-about p {
    color: white;
    font-size: 1.3rem;
}

.video-about {
    margin-bottom: 40px;
}

.logo-melee {
    width: 500px;
    margin-bottom: 30px;
}

/* ABOUT PAGES END */

/* PLAYERS PAGE */

.title-players {
    margin-bottom: 25px;
}

.container-players {
    height: 100%;
    padding: 0 11%;
}

.player-info {
    display: flex;
    gap: 50px;
}

.player-info-last {
    padding-bottom: 50px;
}

.player-info p {
    color: white;
}

.first-row {
    display: flex;
}

.player-img {
    border-radius: 40px;
    max-width: 320px;
    max-height: 415px;
    filter: drop-shadow(0px 0px 10px var(--yellow-color));
}

.resume {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resume div {
    font-size: 1.3rem;
    color: white;
}

.resume span {
    font-weight: 700;
}

.rank {
    margin-left: auto;
}

.rank-number {
    font-weight: 400 !important;
    color: var(--yellow-color);
}

hr {
    max-width: 20%;
    border: 1px solid var(--navbar-color);
    margin: 50px auto;
}

.back-top-button {
    position: fixed;
    right: 2rem;
    bottom: 3rem;
    width: 50px;
    filter: invert(86%) sepia(9%) saturate(6003%) hue-rotate(354deg) brightness(108%) contrast(105%);
}

/* PLAYERS PAGE END */

/* TOURNAMENTS PAGE */

.title-tournaments {
    padding: 3% 11% 0 11%;
    color: white;
    font-size: 3rem;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3% 0 0 0;
    margin: 0 7%;
    gap: 80px;
}

.card {
    list-style: none;
    flex-basis: 0 0 33.33.%;
    text-align: center;
    margin: 20px;
    width: 320px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 1px rgb(255, 232, 28);
}

.card * {
    background-color: white;  
}

/* TOURNAMENTS CARDS */

.card-sum {
    background-image: url(img/cards/Summit.png);
}

.card-apex {
    background-image: url(img/cards/Apex.png);
}

.card-main {
    background-image: url(img/cards/Main.png);
}

.card-smash {
    background-image: url(img/cards/Smash.jpg);
}

.card-panda {
    background-image: url(img/cards/Panda.webp);
}

.card-gen {
    background-image: url(img/cards/Genesis.png);
}

/* TOURNAMENTS CARDS END */

.card-img {
    height: 170px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0 ;
    margin-bottom: 0px;
}

.card-date {
    font-size: 17px;
    padding: 5px;
}

.card-event {
    padding-bottom: 5px;
}

.card-details {
    font-size: 15px;
    padding-bottom: 10px;
}

.card-details svg {
    height: 20px;
    width: auto;
}

.card-details span {
    color: rgb(61, 164, 223);
}

.card-feature {
    padding-bottom: 10px;
}

li:last-child {
    padding-bottom: 20px;
}

.card-players li {
    list-style: none;
    text-align: center;
}

.card-buttons {
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 20px 20px;
}

.card-buttons a {
    text-decoration: none;
    background-color: rgb(214, 214, 214);
    padding: 15px 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: black;
    transition: 0.1s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(122,122,122,1);
    box-shadow: 0px 0px 5px 0px rgba(122,122,122,1);
}

.card-buttons a:hover {
    background: var(--yellow-color);
}

.card-feature {
    text-decoration: underline;
}

/* TOURNAMENTS PAGE END */

/* TUTORIALS PAGE */

.title-tutorials {
    padding: 3% 11% 3% 11%;
    color: white;
    font-size: 3rem;
}

.container-videos {
    height: 100%;
    padding: 0 11%;
}

.tutorial-info {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 30px;
    color: white;
    font-size: 1.2rem;
}

.video {
    max-width: 100%;
    border-radius: 40px;
    filter: drop-shadow(0px 0px 10px var(--yellow-color));
}

.video-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.player-info-last {
    padding-bottom: 50px;
}

/* TUTORIALS PAGE END */

/* PLAY PAGE */

.container-play {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 11%;
    color: white;
    margin: none;
}

.container-play p {
    margin-top: 20px;
    font-size: 1.3rem;
}

.container-play img {
    width: 300px;
}

.play-button {
    width: 400px;
    margin: 50px auto 50px auto;
}

.play-button a img {
    width: 400px;
}

/* PLAY PAGE END */