/* ALL PAGES */

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    background-color: var(--content-color);
    max-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(11,0,41);
    background: linear-gradient(90deg, rgba(11,0,41,1) 0%, rgba(19,0,71,1) 10%, rgba(19,0,71,1) 90%, rgba(11,0,41,1) 100%);
}

:root {
    --navbar-color: #260093;
    --hover-color: #3200bb;
    --content-color: #130047;
    --yellow-color: #FFE002;
}

.banner{
    margin-bottom: -4px;
}

.banner img {
    width: 100%;
    height: auto;
    filter: blur(0.4px);
}

.navbar  {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--navbar-color);
    background: rgb(25,0,98);
    background: linear-gradient(90deg, rgba(25,0,98,1) 0%, rgba(38,0,147,1) 8%, rgba(38,0,147,1) 92%, rgba(25,0,98,1) 100%);
}

.navbar a {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.navbar a:hover {
    background-color: var(--hover-color);
    filter: none;
}

.navbarr  {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--navbar-color);
}

.navbarr a {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.navbarr a:hover {
    background-color: var(--hover-color);
    filter: none;
    color: white;
    text-decoration: none;
}

.current {
    color: var(--yellow-color) !important;
    font-weight: 600;
    filter: drop-shadow(0px 0px 5px rgb(20, 20, 20));
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    background-color: var(--navbar-color);
    background: rgb(25,0,98);
    background: linear-gradient(90deg, rgba(25,0,98,1) 0%, rgba(38,0,147,1) 8%, rgba(38,0,147,1) 92%, rgba(25,0,98,1) 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 20px;
    padding: 5px 20px;
}

.footer-tutorials {
    margin-top: 100px;
}

.footer-play {
    margin-top: auto;
}

.footer a {
    color: white;
}

.footerr {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    background-color: var(--navbar-color);
    background: rgb(25,0,98);
    background: linear-gradient(90deg, rgba(25,0,98,1) 0%, rgba(38,0,147,1) 8%, rgba(38,0,147,1) 92%, rgba(25,0,98,1) 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 20px;
    padding: 5px 20px;
}

.footerr-tutorials {
    margin-top: 100px;
}

.footerr-play {
    margin-top: auto;
    height: 31px;
}

.footerr a {
    color: white;
}

/* ALL PAGES END */

/* ABOUT PAGE */

.title {
    padding: 3% 11% 1% 11%;
    color: white;
    font-size: 3rem;
}

.subtitles {
    padding: 3% 11% 1% 11%;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

.hr-container {
    height: 100%;
    padding: 3% 11%;
}

.hr-about {
    max-width: 20%;
    border: 1px solid var(--navbar-color);
    margin: 50px auto;
}

.container {
    padding: 0 11%;
    display: flex;
}

.container-fr {
    margin-top: 4%;
}

.portion-title {
    display: flex;
    align-items: center;
    flex-basis: 50%;
}

.portion-img {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    text-align: center;
}

.portion-img img {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 40px;
}

.img-blur {
    filter: blur(0.5px);
}

.portion-img .portion-img--player {
    filter: drop-shadow(0px 0px 10px var(--yellow-color));
}

.container-tr {
    margin: 50px 0 70px 0;
    display: flex;
    gap: 60px;
    color: white;
    padding: 0 11% 0 11%;
}

.about-extra {
    flex-basis: 50%;
    text-align: center;
}

.about-extra p {
    font-size: 1.2rem;
}

.container-about p {
    color: white;
    font-size: 1.3rem;
}

.video-about {
    margin-bottom: 40px;
}

.logo-melee {
    width: 500px;
    margin-bottom: 30px;
}

.title-bottom {
    text-align: center;
    padding: 0 11% 3% 11%;
    color: white;
    font-size: 3rem;
}

/* ABOUT PAGES END */

/* PLAYERS PAGE */

.title-players {
    margin-bottom: 25px;
}

.container-players {
    height: 100%;
    padding: 0 11%;
}

.flag {
    width: 25px;
}

.player-info {
    display: flex;
    gap: 50px;
}

.player-info-last {
    padding-bottom: 50px;
}

.player-info p {
    color: white;
}

.first-row {
    display: flex;
}

.player-img {
    border-radius: 40px;
    max-width: 320px;
    max-height: 415px;
    filter: drop-shadow(0px 0px 10px var(--yellow-color));
}

.resume {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resume div {
    font-size: 1.3rem;
    color: white;
}

.resume span {
    font-weight: 700;
}

.rank {
    margin-left: auto;
}

.rank-number {
    font-weight: 400 !important;
    color: var(--yellow-color);
    text-decoration: none;
}

hr {
    max-width: 20%;
    border: 1px solid var(--navbar-color);
    margin: 50px auto;
}

.back-top-button {
    position: fixed;
    right: 2rem;
    bottom: 3rem;
    width: 50px;
    filter: invert(86%) sepia(9%) saturate(6003%) hue-rotate(354deg) brightness(108%) contrast(105%);
}

/* PLAYERS PAGE END */

/* TOURNAMENTS PAGE */

.title-tournaments {
    padding: 3% 11% 0 11%;
    color: white;
    font-size: 3rem;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3% 0 0 0;
    margin: 0 7% 3% 7%;
    gap: 80px;
}

.card {
    list-style: none;
    flex-basis: 0 0 33.33.%;
    text-align: center;
    margin: 20px;
    width: 320px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 1px rgb(255, 232, 28);
}

.card * {
    background-color: white;  
}

/* TOURNAMENTS CARDS */

.card-saving {
    background-image: url(img/cards/Saving.png);
}

.card-sum {
    background-image: url(img/cards/Summit.png);
}

.card-apex {
    background-image: url(img/cards/Apex.png);
}

.card-main {
    background-image: url(img/cards/Main.png);
}

.card-smash {
    background-image: url(img/cards/Smash.jpg);
}

.card-panda {
    background-image: url(img/cards/Panda.webp);
}

.card-gen {
    background-image: url(img/cards/Genesis.png);
}

.card-double {
    background-image: url(img/cards/Double.png);
}

.card-ltc {
    background-image: url(img/cards/LTC.jpg);
}

/* TOURNAMENTS CARDS END */

.card-img {
    height: 170px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0 ;
    margin-bottom: 0px;
}

.card-date {
    font-size: 17px;
    padding: 5px;
}

.card-event {
    padding-bottom: 5px;
}

.card-details {
    font-size: 15px;
    padding-bottom: 10px;
}

.card-details svg {
    height: 20px;
    width: auto;
}

.card-details span {
    color: rgb(61, 164, 223);
}

.card-feature {
    padding-bottom: 10px;
}

li:last-child {
    padding-bottom: 20px;
}

.card-players li {
    list-style: none;
    text-align: center;
}

.card-buttons {
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 20px 20px;
}

.card-buttons a {
    text-decoration: none;
    background-color: rgb(214, 214, 214);
    padding: 15px 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: black;
    transition: 0.1s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(122,122,122,1);
    box-shadow: 0px 0px 5px 0px rgba(122,122,122,1);
}

.card-buttons a:hover {
    background: var(--yellow-color);
}

.card-feature {
    text-decoration: underline;
}

/* TOURNAMENTS PAGE END */

/* TUTORIALS PAGE */

.title-tutorials {
    padding: 3% 11% 3% 11%;
    color: white;
    font-size: 3rem;
}

.container-videos {
    height: 100%;
    padding: 0 11%;
}

.tutorial-info {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 30px;
    color: white;
    font-size: 1.2rem;
}

.video {
    max-width: 100%;
    border-radius: 40px;
    filter: drop-shadow(0px 0px 10px var(--yellow-color));
}

.video-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.player-info-last {
    padding-bottom: 50px;
}

/* TUTORIALS PAGE END */

/* PLAY PAGE */

.container-play {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 11%;
    color: white;
    margin: none;
}

.container-play p {
    margin-top: 20px;
    font-size: 1.3rem;
}

.container-play img {
    width: 300px;
}

.play-button {
    width: 400px;
    margin: 50px auto 50px auto;
}

.play-button a img {
    width: 400px;
}

/* PLAY PAGE END */

/* CONTACT PAGE */

.content-contact {
    padding: 3% 11% 3% 11%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
}

#hh {
    color: var(--yellow-color);
    margin-bottom: 50px;
    font-size: 3rem;
}

/* CONTACT PAGE END */

/* SIGN UP PAGE */

.signup {
    color: white;
    margin: 40px 40% 0px 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#userlink {
    display: none;
}

#signoutlink {
    color: white;
    font-size: 2rem;
    background-color: var(--navbar-color);
    border-radius: 10px;
    padding: 5px 10px 10px 10px;
}

#signoutlink:hover {
    background-color: var(--hover-color);
    text-decoration: none;
}

.email {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.email-content {
    width: 60%;
}

.email-content h1 {
    color: white;
    font-size: 2rem;
    align-items: center;
    margin-bottom: 20px;
}

.email input {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.email textarea {
    padding: 5px;
    border-radius: 5px;
}

.email button {
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 40px;
    background-color: var(--navbar-color);
    color: white;
    font-size: 1.5rem;
    border: none;
}

.email button:hover {
    background-color: var(--hover-color);
}

.badge {
    margin-top: 10px;
    font-size: 1rem !important;
    margin-bottom: 20px !important;
}

/* SIGN UP PAGE END */

/* LOG IN PAGE */

.login-btn {
    background-color: var(--navbar-color) !important;
    border: none !important;
    color: white !important;
    font-size: 1.5rem !important;
    margin: 10px 0 10px 0 !important;
    padding-bottom: 10px !important;
}

.login-btn:hover {
    background-color: var(--hover-color) !important;
    border: none !important;
}

.login-btn::after {
    border: none !important;
}

.custom-control-input:focus~.custom-control-label::before {
    border-color: var(--yellow-color);
    box-shadow: 0 0 0 0.2rem rgba(255, 251, 0, 0.25) !important;
    border: none !important;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: var(--yellow-color);
    background-color: var(--yellow-color) !important;
    border: none !important;
}

.custom-control-input:active~.custom-control-label::before {
    background-color: var(--yellow-color) !important;
    border-color: var(--yellow-color);
    border: none !important;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: var(--yellow-color);
    border: none !important;
}

.custom-control-input-green:not(:disabled):active~.custom-control-label::before {
    background-color: var(--yellow-color) !important;
    border-color: var(--yellow-color);
    border: none !important;
}

.custom-switch {
    margin: 10px 0;
}

.h3title {
    font-size: 3rem !important;
    margin-bottom: 45px !important;
}

/* LOG IN PAGE END */